* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(14, 14, 14);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.puzzle {
    position: absolute;
    cursor: pointer;
    color: rgb(83, 83, 83);
    transition: top 0.15s linear, left 0.15s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    height: 50px;
    width: 50px;
    &[data-value='0'] {
        background: transparent !important;
    }
}
